.componenetlink {
text-align: left;
font-size: 20px;
border: 10px;
border:1px solid rgb(144, 149, 169);
border-radius: 1rem;
width: 200px;
margin-top: 30px;
margin-left: 40px;
font-style: oblique;
padding-left: 10px;
padding-inline: 20px;
padding: 10px; 
display: block; 
}


.style {
    text-align: center;
} 
button {
    font-size: 40px;
    margin-left: 8px;
} 

body{
    background: lightyellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.header{
    font-size: 40px;
}

.list {
    border-radius: 10px;
}